#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .rightcontent {
  padding: 40% 0px;
}
#home .imgsec {
  position: relative;
}
#home .imgsec img {
  left: 150px;
  position: inherit;
  z-index: 3;
  top: 50px;
  border-radius: 5px;
}
#home .imgsec .bgblack {
  background-color: #000;
  position: absolute;
  width: 90%;
  height: 101vh;
  top: -11%;
  left: -10vh;
  z-index: 1;
}
#home h1::before {
  content: "";
  border-left: 3px solid #000;
  left: -30px;
  top: 47px;
  position: absolute;
  height: 123%;
  animation: beforeani 2s linear;
}
#home h1 {
  /* position: relative; */
}
#home h2 {
  margin-bottom: 0px;
}
h1{
  /* margin: 2vw 5vw 0vw 14vw; */
  
}

#home .socialmedia {
  position: relative;
  right: -115px;
  height: inherit;
  width: inherit;
  bottom: -60px;
  display: flex;
  /* background-color: #000; */
  padding: 15px 0px 10px;
  /* border-bottom: 3px solid #000; */
  border-right: 0px;
  z-index: 999;
  border-left: 0px;
  margin:-1vw  0vw 1vw 21vw
}

#home .socialmedia::after {
  content: "";
  /* border-bottom: 3px solid #000; */
  position: absolute;
  width: 150%;
  bottom: 0;
  right: 0;
  height: 3px;
  /* animation: opacityani 3s; */
  /* animation-delay: 1.5s; */
  opacity: 1;
}
/* @keyframes opacityani {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    right: 100px;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
} */
#home .socialmedia img {
  width: 20px;
  height: 20px;
  position: initial;
  margin: 0 12px;
  /* filter: brightness(0) invert(1); */
}

@keyframes beforeani {
  from {
    top: -12px;
    height: 0;
  }
  to {
    top: 47px;
    height: 123%;
  }
}

@media (max-width: 500px) {
  #home .imgsec img {
    top: 20vh;
    left:-79px;;
    right: 0;
  }
  #home .rightcontent {
    padding: 48vh 0px;
    text-align: center;
  }
  .imgsec{
    left: 150px;
    position: inherit;
    z-index: 3;
    top: 40vw;
    border-radius: 5px;
    width: 57vw;
    height: 77vw;
  }
  .bgblack{
    background-color: #000;
    position: absolute;
    width: 71%;
    height: 46vh;
    top: -11%;
    /* left: -10vh; */
    z-index: 1;
    margin: 37vw 2vw 2vw 11vw;
  }
  #home .socialmedia {
    position: relative;
    right: -115px;
    height: inherit;
    width: inherit;
    bottom: -60px;
    display: flex;
    /* background-color: #000; */
    padding: 15px 0px 10px;
    /* border-bottom: 3px solid #000; */
    border-right: 0px;
    z-index: 999;
    border-left: 0px;
    margin: 28vw 5vw 0vw 33vw;  
  }
  #home .imgsec .bgblack {
    background-color: #000;
    position: absolute;
    width: 90%;
    height: 26vh;
    top: -11%;
    left: -10vh;
    z-index: 1;
    margin: 78vw 37vw 13vw -2vw;  
  }

}
